input {
  color: black;
}

.inputStyle,#input1,#input2 {
  color:black;
}

#input1::placeholder,#input2::placeholder {
    color:slategray;
    /* border: 1px solid black; */
    text-decoration: none;
    }
/*     
    li a:hover{
      color: teal;
    }
     */